}}/OrangeFox*.zip
    name: OrangeFox Recovery for ${{ inputs.DEVICE_NAME }} // ${{ env.BUILD_DATE }}
    tag_name: ${{ github.run_id }}
    body: |
      ## OrangeFox Recovery Build - Unofficial
      Build: fox_${{ inputs.MANIFEST_BRANCH }}
      Device: [Device Tree/Branch](${{ inputs.DEVICE_TREE }}/tree/${{ inputs.DEVICE_TREE_BRANCH }})
      Commit: Most recent [commit](${{ inputs.DEVICE_TREE }}/commit/${{ env.COMMIT_ID }}) during building.
      Maintainer: ${{ inputs.OF_MAINTAINER }}

